body{
    font-family: sans-serif
}

.main{
    border:solid 1px pink;
    border-radius:15px;
    width: 300px;
    margin:auto;
    margin-top:50px;
    background: #ffb20f;
    padding:20px;
}

.input-group{
    width:90%;
    margin: auto;
    padding:0.5em;
}

label{
    font-size: large;
    display:inline-block;
    width: 40%;  
}

select,input{
    font-size: large;
    width:40%;
    border: pink;
    background: #ffe548;
    
}

button{
    display:block;
    margin:auto;
    background: #582707;
    color: #ffe548;
    font-size: large;
}