body{
    font-family: sans-serif
}

.container{
    display:grid;
    grid-template-columns: 50% 50%;
    width:90%;
    margin: auto;
}

.main{
    border:solid 1px pink;
    border-radius:15px;
    margin:auto;
    background: #ffb20f;
    padding:20px;
}

.input-group{
    width:90%;
    margin: auto;
    padding:0.5em;
}

label{
    font-size: large;
    display:inline-block;
    width: 40%;  
}

select,input{
    font-size: large;
    width:40%;
    border: pink;
    background: #ffe548;
    
}

button{
    display:block;
    margin:auto;
    background: #582707;
    color: #ffe548;
    font-size: large;
}
hr{
    border: none;
   border-top:2px dashed #582707;
}
.names{
    border: solid #582707 1px;
    border-collapse: collapse;
    width:100%;
    background:#ffe4482c;
    

}

.names th{
    color: #582707;
    background: #ffb20f;
    text-align: left;
    padding: 8px;
    
}

.names td, .names tr{
        border: 1px solid #ffe548;
        padding: 8px;
        border-radius:15px;
}